<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link type="text/css" href="../css/style.css" rel="stylesheet">
      		<link type="text/css" href="../css/prof-homepage.css" rel="stylesheet">
			
		<title>QCFirst</title>
	</head>
	<body>
		<nav class="proTopNav">
		<!--create navbar with logo on teh left-->
			<div class="logo" onclick="window.location.href='/Index'">
				<img class="img" src="../img/Logo.png" alt="Queens College">
			</div>
			<div id="navbar-right">
            
            			<form name="logoutForm" class="form-logout"  action="/signOut" method="post">
				      <button name="signOut" id="out" type="submit" onclick="location.href='/Index'">Sign Out</button> <!--logs out the user and redirect them to the professor log in-->
              
            			</form> 
			</div>
    		</nav>

		<header id="banner">  <!--TODO: add the styling to the CSS-->
			<img src="../img/Image_comp.png" id="pic" alt="people on computer">
			<h1>Admin Page</h1> 
		</header><br>

		<div id="allCollec">
			<h1 id="collect">Collections in MongoDB</h1>
          
			<form name="ad_user" action="/admin_user" method="post">
				<button name="user" type="submit" onclick="location.href='/admin_user'">User DB</button> 
			</form> <br>
          

			<form name="ad_user_courses" action="/admin_user_courses" method="post">
				<button name="enrollCourse" type="submit" onclick="location.href='/admin_user_courses'">Students Enrolled Courses</button> 
			</form>
			<br>

			<form name="ad_course" action="/admin_course" method="post">
				<button name="course" type="submit" onclick="location.href='/admin_course'">Course DB</button> 
			</form>
			<br>

			<form name="ad_prof_addCourse" action="/admin_prof_addCourse" method="post">
				<button name="addedCourse" type="submit" onclick="location.href='/admin_prof_addCourse'">Professor Added Courses</button> 
			</form>
			<br>

			<form name="ad_session" action="/admin_session" method="post">
				<button name="session" type="submit" onclick="location.href='/admin_session'">Session DB</button> 
			</form>

		</div>

	</body>

</html>
