<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link type="text/css" href="../css/style.css" rel="stylesheet">
		<link type="text/css" href="../css/index.css" rel="stylesheet">
		<script src="./Contact.js" defer></script>
		<title>QCFirst</title>
	</head>
	<body>
		<nav>
			<img class="img-fluid img" src="../img/Logo.png" alt="Queens College">
			<div id="topnav-right">
				<button class="btn btn-primary" onclick="location.href='/Login_professor'">Professor Login</button>
				<button class="btn btn-primary" onclick="location.href='/Login_student'">Student Login</button>
				<button class="btn btn-primary" onclick="location.href='/Sign_up'">Sign Up</button>
				<button class="btn btn-primary" onclick="location.href='/Login_admin'">Admin Login</button>
			</div>
		</nav>

		<header>

			<h3 id="sucess"> <%=valid%> </h3>
			<img src="../img/qcCampus.jpeg" alt="qc campus" style="width:100%">
			<h1>QC FIRST</h1> 
		</header>


		<section class="container-fluid">  
			<div class="bottom row">
				<div class="col" id="links">
					<h3>Links</h3>
					<ul>
						<li><a href="https://www.qc.cuny.edu/Pages/home.aspx">Queens College</a></li>
						<li><a href="https://www.qc.cuny.edu/computing/HelpDesk/Pages/Welcome.aspx">IT Help Desk</a></li>
						<li><a href="https://www.qc.cuny.edu/admissions/undergraduate/undergraduate_degree_programs/Pages/default.aspx">Undergraduate Degree Program</a></li>
						<li><a href="https://www.qc.cuny.edu/Academics/Documents/UG_Bulletin_2017_18.pdf">Undergraduate Bulletin</a></li>
					</ul>
					</div>
					<div id="map" class="col">
						<a href="https://www.qc.cuny.edu/about/directions/2d/Pages/default.aspx">
						<img class="img-fluid" src="../img/qcMap.jpeg" alt="map of queens College">
						</a>
					</div>
				</div>
			</div>
		</section>
		<footer>&copy;QCFirst@2021Nav&Bibi &#124; privacyPolicy</footer>

	</body>
</html>
