@charset "UTF-8";

nav img {
    height: 50%;
    width: 5%;
    margin: 10px;
}

/* z-index fixes float:right bug */
#topnav-right * {
    position: relative;
    z-index: 99;
    float: right;
    margin: 20px 10px;
}

header {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}

header h1 {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
