/*  This style sheet is for styling that is universal and needed in every page */
@charset "UTF-8";

html, body {
	padding: 0; 
	margin: 0; 
	height: 100%;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

button {
	cursor: pointer;
}

nav img {
	height: 50%;
	width: 5%;
	margin: 10px;
}

.logo, #logo {
	cursor: pointer;
}

.logo button {
	top: 0px;
	float: right;
	background-color: #2F4F4F;
	color: white;
	text-align: center;
	border-radius: 3px;
	font-size: 16px;
 
}

#collect {
	text-align: center;
}

#allCollec button {
	height: 20%;
	width: 25%;
	display: block;
	text-align: center;
	background-color:#2F4F4F;
	color: white;

}

.bottom {
	margin-top: 10%;
	padding-top: 20px;
	color: white;
	background-color:#2F4F4F;
}

input:focus, input:active {
	border-color: transparent;
	border: 5px solid #1c87c9;
}

nav img {
	float: left;
	width: 30px;
	height: 30px;
}

.form {
	margin-left:30px;
}

.form input {
	border: 1px ridge #000000;
	background-color: #DCDCDC;
	border-radius: 3px;
}

.form input::placeholder {
	color:white;
}

.form button {
	height: 40px;
	justify-content: right;
	width: 90px;
	color: white;
	font-size: 20px;
	background-color: #2F4F4F;
}

.form textarea {
	background-color: #DCDCDC;
	vertical-align: top;
}

footer {
	clear: both;
	width: 100%;
	margin: auto;
	background-color: black;
	color: white;
	bottom: 0;
	left: 0;
	right: 0;
}

.logFoot {
	position: absolute;
	bottom: 0;
}

#links {
	margin: 10px;
}

#links ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.form * {
	display: block;
}

#submit {
	margin-top: 5px;
}

.bottom {
	margin: 10px 0;
}

@media screen and (max-width: 1200px) {
	.img {
		width: 5%;
		height: 5%; 
	}
    
}

@media screen and (max-width: 800px) {
	.img {
		width: 10%;
		height: 10%;
	}
    
}

@media screen and (max-width: 400px) {
	.img {
		width: 10%;
		height: 20%;

	}  
}

#docu {
	color: black;
}

#sucess {
	color: green;
	-webkit-animation: cssAnimation 2s forwards; 
	animation: cssAnimation 2s forwards;
}

#err {
	color: red;
	-webkit-animation: cssAnimation 5s forwards; 
	animation: cssAnimation 5s forwards;
}

/*make the error or success of logging out invisible after 2 sec*/
#error {
	font-size: 20px;
	-webkit-animation: cssAnimation 2s forwards; 
	animation: cssAnimation 2s forwards;
}

@keyframes cssAnimation {
	0%   {opacity: 1;}
	90%  {opacity: 1;}
	100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
	0%   {opacity: 1;}
	90%  {opacity: 1;}
	100% {opacity: 0;}
}
